##################################################
#  Custom C Snippets                             #
##################################################


snippet while "while loop (while)"
while ($1) {
	${VISUAL}$0
}
endsnippet

